<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- En-tête du document -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StatsAnalyse - Comparaison des tris</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/allgene.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link type="image/png" sizes="32x32" rel="icon" href="../resources/icon/favicon.png">
</head>
<body>
    <!-- Contenu principal -->
    <div class="container">
        <!-- Barre latérale -->
        <nav class="sidebar">
            <h1 class="title-sidebar">Analyser</h1>
            
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        <span class="material-symbols-outlined">Dashboard</span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="generator.html" class="nav-link">
                        <span class="material-symbols-outlined">query_stats</span>
                        Generator
                    </a>
                </li>
                <li class="nav-item">
                    <a href="analyse.html" class="nav-link">
                        <span class="material-symbols-outlined">nest_clock_farsight_analog</span>
                        Analyse
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="material-symbols-outlined">sort</span>
                        Algorithmes de tri
                    </a>
                </li>
                <li class="nav-item">
                    <a href="compare.html" class="nav-link">
                        <span class="material-symbols-outlined">compare</span>
                        Comparaison
                    </a>
                </li>
            </ul>
        </nav>
        <main class="main-content">
            <!-- Contenu principal -->
        </main>
    </div>
    <!-- Scripts -->
    <script src="../model/generator/createGraphBar.js"></script>
    <script src="../controller/general/dropDown.js"></script>
    <script src="../controller/sorts/fillSortGraph.js"></script>
    <script src="../controller/sorts/PageAllSorts.js"></script>
</body>
</html>
